numpy
Pillow
packaging
pandas
requests
scipy
scikit-learn
statsmodels
tensorflow
tensorflow_probability
websocket-client
pandas_ta
pandas-market-calendars
matplotlib
mplfinance
yahoo_fin
yfinance
pandas-datareader
TA-Lib
bt
ffn
quantstats
pyfolio
empyrical
alpaca-trade-api
lark-parser
python-dotenv
zipfile36
